.header{
    background-color: rgb(4, 21, 71);
    display: flex;
    color: white;
    max-width: 1000px;
    margin:auto;
    padding:1%;
    flex-flow: row wrap;


}

.header h1{
    flex:5;
    font-size: 60px;
    text-align: left;
}

.image {
    display: block;
    padding: 2px;
    

}

.image_div {
    order: 1;
}

.image img{
    display: block;
    height: 100px;
    margin: auto;
    flex-flow: row wrap;
}

.text{
    
    /* flex-wrap: wrap; */
    background-color: rgb(58, 54, 54);
    padding:1%;
    margin: auto;
    display: flex;
    /* flex-flow: row wrap; */
    max-width: 1000px;
    font-family: 'Lobster',cursive;
    color: white;
}

.role{
    background-color: gray;
    order:2;
    margin-right: 5px;
    margin-left: 5px;
}

.work_text{

    
    margin-left: 20px;
    /* max-width: 500px; */
}

.work_ex{
    border: 2px dotted rgb(58, 54, 54);     
}
.role_header{
    font-size: 30px;
}

.intro{
    font-size: 25px;
}




@media only screen and (max-width: 1000px){
.image_div{
    display:flex;
}

.image_div img{
    order:1;
}

.image_div p{
    order:2;
}

.text{
    display: block;
}
}